<div class="row">
  <div class="col-12">
    <button class="btn btn-sucess">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    
    <a href="#" class="list-group-item">
      <div class="ml-auto">
        <h4 class="list-group-item-heading">Recipe Name</h4>
        <p class="list-group-item-text">Description</p>
      </div>
      <div class="mr-auto">
        <img src="" alt="" class="img-fluid">
      </div>
    </a>

    <app-recipe-item></app-recipe-item>
  </div>
</div>
